<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <h1>Hello World</h1>
            <hr />
            <a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" >Home</a>
            <!-- [queryParams]="{analytics: 200}" [fragment]="'section2'" -->
            <input type="text" #id (input)="0"/>
            <a [routerLink]="['user', id.value]" routerLinkActive="active" >User</a>
            <!--[preserveQueryParams]="true"-->
            <hr />
            <router-outlet></router-outlet>
        </div>
    </div>
</div>