.outerEye{
 	width: 15px;
	height: 15px;
	border: solid black;
	border-radius: 50px;
    display: inline-block;
    position: relative;
    
}

.innerEye{
    width: 1px;
    height: 1px;
    border: solid black;
    border-radius: 50px;
    background: black;
    position:absolute;
}

