#whiteSpace{
    height: 10em;
    background-color: white;
}
.selectType{
    margin-top: 15em;
    margin: auto;
    background-color: aquamarine;
    font-family: sans-serif;
    width: 20em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    
}

#dungeonTypeMenu{
    background-color:blue;
    display: none;
    margin: auto;
    width: 20em;
}

.dungeonType{
    text-align: center;
    border-left: solid aquamarine 2px;
    border-bottom: solid aquamarine 2px;
    border-right: solid aquamarine 2px;
    margin: 0px;
}